<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>missionpersonidentification</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPS</display-name>
    <servlet-name>AddPS</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.AddPS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPS</servlet-name>
    <url-pattern>/AddPS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceStation</display-name>
    <servlet-name>PoliceStation</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.PoliceStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceStation</servlet-name>
    <url-pattern>/PoliceStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>picuploadd</display-name>
    <servlet-name>picuploadd</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.picuploadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>picuploadd</servlet-name>
    <url-pattern>/picuploadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.lokesh.missionpersonidentification.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>